<div class="footer-container">
  <footer>
    <div class="footer-info">
      <div class="footer-info-socials">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="footer-info-name">&copy; Wonderlust Private Limited</div>
      <div class="footer-info-links">
        <a href="/privacy">Privacy</a>
        <a href="Terms">Terms</a>
      </div>
    </div>
  </footer>
</div>
